.inset
  .tabpanel-container
    div(role='panel', layout='column' layout-align='center center')
      div(layout='row')
        md-card(flex)
          md-card-title
            md-card-title-text.md-headline إحصاءات
          md-card-content
            .card-media
              img(src=require('assets/img/statistics.png'))
        md-card(flex)
          md-card-title
            md-card-title-text.md-headline أرقام بيانية
          md-card-content
            .card-media
              img(src=require('assets/img/statistics.png'))
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    md-card(flex)
      md-card-title
        md-card-title-text.md-headline تنبيهات
      md-card-content
        md-list
          md-list-item
            md-icon warning
            p هناك مشكلة في المخدم الثاني
          md-divider
          md-list-item
            md-icon info
            p هناك مشكلة في المخدم الثاني
          md-divider
          md-list-item
            md-icon error
            p هناك مشكلة في المخدم الثاني
